{
  "extends": ["eslint:recommended", "plugin:import/warnings", "plugin:import/errors", "prettier"],
  "plugins": ["prettier", "import", "cypress"],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "node": true,
    "jest": true,
    "browser": true,
    "mocha": true
  },
  "globals": {
    "cy": true,
    "Cypress": true
  },
  "rules": {
    "import/no-unresolved": "off",
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "eqeqeq": "warn",
    "import/order": [
      "error",
      {
        "groups": ["builtin", "external", "internal", "parent", "sibling", "index"],
        "newlines-between": "always-and-inside-groups"
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "root": ["./"]
      }
    }
  }
}
